<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>Mowbray{{ subtitle ? " : #{subtitle}" }}</title>

    <link
      rel="stylesheet"
      href="../vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link
      rel="stylesheet"
      href="../vendor/twbs/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/progress-spin.css">
    <link rel="stylesheet" href="../css/register.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          Mowbray
        </a>
      </div>
    </nav>

    <main class="container-fluid">
      {% block content %}{% endblock %}
    </main>

    <script
      type="text/javascript"
      src="vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js">
    </script>
    {% for script in scripts %}
      <script type="text/javascript" src="{{ "js/#{script}.js" }}">
      </script>
    {% endfor %}
  </body>
</html>
