{% extends 'base.twig' %}

{% block content %}
  <div class="row">
    <div class="col-2 offset-10">
      {{ register.items[register.items|length - 1].name }}
    </div>
  </div>
  {% for row in register.checklist.rows %}
    <div class="row">
      <div class="col-8 text-truncate">{{ row.name|e }}</div>
      <div class="col-2">
	<a
	  href="#"
	  role="button"
	  class="btn btn-secondary"
	  title="Name"
	  tabindex="0"
	  data-bs-content="{{ row.name|e('html_attr') }}"
	  data-bs-toggle="popover"
	  data-bs-trigger="focus">
	  ?
	</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}
