{% extends 'base.twig' %}

{% block content %}
  <div class="row">
    <div class="col-6 col-lg-5 checklist">
      <div class="row">
        &nbsp;
      </div>
      {% for row in register.checklist.rows %}
        <div class="row">
          <div class="col-9 col-md-10 text-truncate">
            {{ row.name|e }}
          </div>
          <div class="col-3 col-md-2 text-center">
            <a
              href="#"
              role="button"
              class="btn btn-secondary"
              tabindex="0"
              data-bs-content="{{ row.name|e('html_attr') }}"
              data-bs-toggle="popover"
              data-bs-trigger="focus">
              <i class="bi-textarea"></i>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="col-6 col-lg-7 register">
      <div class="container-fluid register-item-checkmarks">
        <div class="row-register-item-checkmarks">
          {% for item in register.items %}
            <div class="col-register-item-checkmark text-center">
              {{ item.name|e }}
            </div>
          {% endfor %}
        </div>
        {% for row in register.checklist.rows %}
          <div class="row-register-item-checkmarks">
          {% for item in register.items %}
            <div class="col-register-item-checkmark text-center">
              {% set checkmark = attribute(checkmark_resolver, 'get', [item.checkmarks, row.id]) %}
              {% set percent = checkmark is none ? 0 : checkmark.percent %}
              <div class="progress-spin ps-{{ percent }}">
                <div class="progress-spin-inner"></div>
              </div>
            </div>
          {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="d-sm-none">
      xs
    </div>
    <div class="d-none d-sm-block d-md-none">
      sm
    </div>
    <div class="d-none d-md-block d-lg-none">
      md
    </div>
    <div class="d-none d-lg-block d-xl-none">
      lg
    </div>
    <div class="d-none d-xl-block d-xxl-none">
      xl
    </div>
  </div>

{% endblock %}
