{% extends 'base.twig' %}

{% block content %}
  <div class="row">
    <div class="col-2 offset-10 text-center">
      {% set item = register.items[register.items|length - 1] %}
      {{ item.name }}
    </div>
  </div>
  {% for row in register.checklist.rows %}
    <div class="row">
      <div class="col-8 text-truncate">{{ row.name|e }}</div>
      <div class="col-2">
	<a
	  href="#"
	  role="button"
	  class="btn btn-secondary"
	  title="Name"
	  tabindex="0"
	  data-bs-content="{{ row.name|e('html_attr') }}"
	  data-bs-toggle="popover"
	  data-bs-trigger="focus">
	  ?
	</a>
      </div>
      <div class="col-2 text-center">
        {% set checkmark = attribute(checkmark_resolver, 'get', [item.checkmarks, row.id]) %}
        {% set percent = checkmark is none ? 0 : checkmark.percent %}
        <div class="progress-spin ps-{{ percent }}">
          <div class="progress-spin-inner"></div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
