.checklist .row {
  min-height: 48px;
  height: 48px;
  max-height: 48px;
}

.register-item-checkmarks {
  overflow-x: auto;
  overflow-y: hidden;
}

.row-register-item-checkmarks {
  display: flex;
  min-height: 48px;
  height: 48px;
  max-height: 48px;
}

.col-register-item-checkmark {
  min-width: 60px;
  width: 60px;
  max-width: 60px;
}

.checklist, .register {
  color: rgb(130, 131, 81);
}
